/*body{
	background-color: cyan;
}*/

.bg-custom{
	background: #283593 
	/*#8e24aa; #aa00ff*/
}

.navbar .nav-item:hover .nva-link{
	font-size: 20px;
	color: white;
}

.navbar .nav-item:hover .nav-link{
	background: black;
	color: red;
	border-radius: 10px;
}

.navbar .navbar-brand{
	color:red;
}

